version: "0.4.2-alpha.2"
remoteDependencies: [
  "https://code.jquery.com/jquery-1.10.1.min.js"
  "http://strd6.github.io/tempest/javascripts/envweb-v0.4.5.js"
]
dependencies:
  emojer: "STRd6/emojer:v0.2.0"
